html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.page4 {
  min-height: 100vh;
  background: #0b0b0f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page4-inner {
  width: 1200px;
  text-align: center;
  color: white;
}

.page4-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 12px;
}

.page4-sub {
  color: white;
  margin-bottom: 60px;
}

.card-wrapper {
  display: flex;
  gap: 40px;    /*

  overflow-x: auto;     /* 가로 스크롤 */
  overflow-y: hidden;   /* 세로 스크롤 숨김 */

  scroll-behavior: smooth;  /* 스크롤 부드럽게 이동 */

  padding: 20px 0;  /* 카드 사이의 여백을 위해 패딩 추가 */
  margin-bottom: 20px;
}

/* 스크롤바 숨기기 */
.card-wrapper::-webkit-scrollbar {
  display: none;
}

.more-btn {
  padding: 12px 40px;
  border-radius: 30px;
  border: 1px solid #333;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.more-btn:hover {
  background: rgba(255,255,255,0.1);
}