html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: black;
    min-height: 100vh;
}

.page3 {
    color : white;
    align-items: center;
    text-align: center;
}

.value-item {
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 80px auto;
    max-width: 800px;
}

.value-item.left {
    justify-content: flex-start;
    text-align: left;
}

.value-item.right {
    justify-content: flex-end;
    text-align: right;
}

.content {
    max-width: 450px;
}

.content h3 {
    font-size: 1.8rem;
    margin-top : 0px;
    margin-bottom: 50px;
    color: white;
}

.content p {
    color: #ccc;
    line-height: 1.6;
    word-break: keep-all;
    margin: 0;
}

.number {
    font-family: Pretendard;
    font-size : 15rem;
    font-weight: bold;
}