.footer {
  background-color: #0e0e0e;
  color: white;
  padding: 30px 60px;
  min-height: 200px;
  max-height: 200px;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* 왼쪽 */
.footer-left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 0px #888;
}

/* 가운데 */
.footer-center {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  justify-content: center;
}

.footer-center .copyright {
  margin-top: 5px;
  color: #aaa;
  font-size: 12px;
}

/* 오른쪽 */
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}

.version {
  font-size: 16px;
}

.line {
  width: 120px;
  height: 1px;
  background-color: #888;
}

.icons {
  display: flex;
  gap: 20px;
  font-size: 32px;
  cursor: pointer;
}

.icons svg:hover {
  opacity: 0.7;
}